<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week6-202207/logo.svg"
          alt="Home"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item pe-5">
            <a class="nav-link" aria-current="page" href="#">首頁</a>
          </li>
          <li class="nav-item pe-5">
            <a class="nav-link" href="#">課程介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#" tabindex="-1" aria-disabled="true"><span
                class="material-symbols-outlined text-light">
                account_circle
              </span>登入</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="line-contain d-flex">
    <div class="line-first"></div>
    <div class="line-second"></div>
  </div>
  <%- contents %>

    <footer class="footer">
      Coding Home © 2022 All Rights Reserved
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>