nav {
    background-color: #1C1C1C;
}

.navbar-brand {
    padding: 16px 0;
}

.navbar-brand img {
    width: 100%;
    height: 42px;
}

.line-first {
    width: 50%;
    border-top: 2px solid #62DB54;
}

.line-second {
    width: 50%;
    border-top: 2px solid #09ACF5;
}

.footer {
    color: #909090;
    background-color: #1A1A1A;
    padding: 24px 0;
    text-align: center;
}